<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<style type="text/css">
		body{height:100% !important; margin:0; padding:0; width:100% !important;}
		*, a{font-family: Arial, sans-serif; text-decoration:none;}
		 
		 conteudo-header{
         max-width: 100%; 
         min-width: 620px;
         }
         @media only screen and (max-device-width: 480px) {
         table[class=conteudo] { 
         width:340px !important;
         float:center!important;
         }
         td[class=header] img {
         height:auto !important;
         width:100% !important;
         }
         }

      </style>


<center style="width: 100%; table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
<!-- TEMPLATE RESPONSIVO para o GLPI por Cristiano Guilherme - www.tecresolve.com.br V 1.0 - 08-09-2016 
Compatível com app Android Gmail e demais aplicativos de leitura de emails (Outlook, Thunderbird..)
Instruções de uso:
- Substitua os caminhos "http://urldoglpi/" pela URL de instalação de seu GLPI.
- Altere as palavras inseridas manualmente pelas variáveis ##lang. oficiais do sistema se necessário. Indicado apenas para mais de um idioma.
- Compartilhe o código com as referências.
-->
<table width="640" border="0" cellspacing="0" cellpadding="10" class="conteudo">
	<tr>
		<td class="header">
		<table width="100%" cellpadding="0" style="background-color: #efefef; border:1px solid #f4f4f4; border-collapse: collapse; font-size:12px" height="69">
			<tr style="border:1px solid #f4f4f4; border-collapse: collapse; font-size:12px">
				<td width="448" rowspan="2">
				<img src='cid:logo' height="68" width="218" alt="logomarca"></td>
				<td width="53"><b>N°: </b>&nbsp;</td>
				<td width="110" style="font-size:14px;"><b>##ticket.id##</b>
				</td>
			</tr>
			<tr style="border:1px solid #f4f4f4; border-collapse: collapse; font-size:12px">
				<td width="53"><b>Status</b>:&nbsp; </td>
				=
				<td width="117">##ticket.status##</td>
			</tr>
		</table>
		<br>
		<table width="100%" cellpadding="0" style="border:1px solid #f4f4f4; border-collapse: collapse; font-size:12px">
			<tr>
				<td width="620" style="background-color: #CCFFCC;">
				<p style="padding:5px 5px 5px;"><b>Solicitação</b>: ##ticket.title##
				<br>
				##ticket.content##</p>
				</td>
			</tr>
		</table>
		<br>
		##IFticket.storestatus=5##
		<table width="100%" cellpadding="0" style="border:1px solid #f4f4f4;border-collapse: collapse; font-size:12px">
			<tr>
				<td width="620" colspan="2" style="background-color: #9FD6ED; background-image: url('http://urldoglpi/glpi/pics/timeline/solution.png'); background-repeat: no-repeat; background-position: right; border:1px solid #f4f4f4; border-collapse: collapse;">
				<p style="padding:5px 5px 5px;"><b>Solução</b>: <br>
				##ticket.solution.description##<br>
				</p>
				</td>
			</tr>
			<tr style="border:1px solid #f4f4f4; border-collapse: collapse;">
				<td><b>##lang.ticket.solvedate## :</b> ##ticket.solvedate## </td>
				<td align="right">
				<a href="##ticket.urlapprove##" style="text-decoration:none; color: #000; padding:10px 10px; font-weight:bold; text-align:center; cursor:pointer; display: inline-block; background-color: #9FD6ED!important; ">
				Aprovar solução &gt;&gt;</a></td>
			</tr>
		</table>
		<br>
		##lang.ticket.autoclosewarning## ##ENDIFticket.storestatus## ##FOREACHfollowups##
		<table width="100%" cellpadding="0" style="background-color: #E0E0E0; background-image: url('http://urldoglpi/glpi/pics/timeline/followup.png'); background-repeat: no-repeat; background-position: right; border:1px solid #f4f4f4; border-collapse: collapse; font-size:12px">
			<tr>
				<td colspan="2">
				<p style="padding:5px 5px 5px;"><b>Acompanhamento</b>: [##followup.date##] - ##followup.description##</p>
				</td>
			</tr>
			<tr style="border:1px solid #f4f4f4; border-collapse: collapse;">
				<td width="168">
				<b>##lang.followup.isprivate## :</b></td>
				<td align="left" width="452">##followup.isprivate##</td>
			</tr>
			<tr style="border:1px solid #f4f4f4; border-collapse: collapse;">
				<td width="168">
				<b>##lang.followup.author## :</b></td>
				<td align="left" width="452">##followup.author##</td>
			</tr>
		</table>
		<br>
		##ENDFOREACHfollowups## ##FOREACHtasks##
		<table width="100%" cellpadding="0" style="background-color: #FFFBEA; background-image: url('http://urldoglpi/glpi/pics/timeline/task.png'); background-repeat: no-repeat; background-position: right; border:1px solid #f4f4f4; border-collapse: collapse; font-size:12px">
			<tr>
				<td colspan="4" bgcolor="">
				<p style="padding:5px 5px 5px;"><b>Tarefa</b>: [##task.date##] - 
				##task.description##</p>
				</td>
			</tr>
			<tr style="border:1px solid #f4f4f4; border-collapse: collapse;">
				<td width="145">
				<b>##lang.task.isprivate## :</b></td>
				<td align="left" width="115">##task.isprivate##</td>
				<td align="left" width="141">
				<b>##lang.task.time## :</b></td>
				<td align="left" width="217">##task.time##</td>
			</tr>
			<tr style="border:1px solid #f4f4f4; border-collapse: collapse;">
				<td width="145">
				<b>##lang.task.author## :</b></td>
				<td align="left" width="115">##task.author##</td>
				<td align="left" width="141">
				<b>
				##lang.task.category## :</b></td>
				<td align="left" width="217">##task.category## </td>
			</tr>
			<tr style="border:1px solid #f4f4f4; border-collapse: collapse;">
				<td width="145">
				&nbsp;</td>
				<td align="center" width="115">&nbsp;</td>
				<td align="center" width="141">&nbsp;</td>
				<td align="center" width="217">&nbsp;</td>
			</tr>
		</table>
		<br>
		##ENDFOREACHtasks## </td>
	</tr>
</table>
<!--tabela principal, com a largura do documento-->
<table width="640" border="0" cellpadding="0" cellspacing="0" class="conteudo">
	<tr>
		<td>
		<table width="320" border="0" cellspacing="0" cellpadding="10" align="left" style="font-size:12px;">
			<tr>
				<td>
				<span style="padding: 5px 5px; margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				Solicitado por:</span> ##ticket.authors##
				<span style="padding: 5px 5px; margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				Data de Abertura:</span> ##ticket.creationdate##
				<span style="padding: 5px 5px; margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				Data de Fechamento:</span> ##IFticket.closedate## ##ticket.closedate## 
				##ENDIFticket.closedate## ##ELSEticket.closedate## ------ ##ENDELSEticket.closedate## 
				##IFticket.numberoffollowups##
				<span style="padding: 5px 5px;  margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				N° de acompanhamentos: ##ticket.numberoffollowups##</span>
				##ENDIFticket.numberoffollowups## ##ELSEticket.numberoffollowups##
				<span style="padding: 5px 5px;  margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				N° de acompanhamentos: 0 </span>##ENDELSEticket.numberoffollowups## 
				##IFticket.numberoftasks##
				<span style="padding: 5px 5px;  margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				N° de tarefas: ##ticket.numberoftasks##</span> ##ENDIFticket.numberoftasks##
				##ELSEticket.numberoftasks##
				<span style="padding: 5px 5px;  margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				N° de tarefas: 0</span> ##ENDELSEticket.numberoftasks##</td>
			</tr>
		</table>
		<table width="320" border="0" cellspacing="0" cellpadding="10" style="font-size:12px;">
			<tr>
				<td >
				<span style="padding: 5px 5px; margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				Origem: </span>##ticket.requesttype##
				<span style="padding: 5px 5px; margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				Categoria: </span>##IFticket.category## ##ticket.category## ##ENDIFticket.category## 
				##ELSEticket.category## ##lang.ticket.nocategoryassigned## ##ENDELSEticket.category##
				<span style="padding: 5px 5px; margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				Urgência: ##ticket.urgency##</span>
				<span style="padding: 5px 5px; margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				Impacto: ##ticket.impact##</span>
				<span style="padding: 5px 5px; margin: 5px 0px 5px 0px; display: block; background-color: #F5F5F5;">
				Prioridade: ##ticket.priority##</span> <center>
				<a style="text-decoration:none; color: #FFF; background-color: #48CFAD; padding:10px 16px; font-weight:bold; margin-right:10px; text-align:center; cursor:pointer; display: inline-block; background-color: #5D9CEC; font-size:12px;" href="##ticket.url##">
				Visualizar chamado online »</a></center></td>
			</tr>
		</table>
		</td>
	</tr>
</table>
<table width="640" border="0" cellspacing="0" cellpadding="5" class="conteudo">
	<tr>
		<td><center>
		<a href="http://seusite.com.br" target="_blank" style="border: 0"><img src="http://urldoglpi/sualogo.png" alt="Logotipo da empresa" width="181" height="41"></a></center></td>
	</tr>
	<tr>
		<td align="center" style="font-size: 10px !important; color: #4a585e;">
		Notas informativas e de copyright</td>
	</tr>
</table>
</center>